
.sidebar{
    align-items:column;
    flex:1;
    transition: all .2s;
    position:fixed;
    z-index:100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background-color: #4A6670;
    border-right: solid 1px white;
}

.sidebar-closed{
  width: 60px;
  align-items:column;
    flex:1;
    transition: all .2s;
    position:fixed;
    z-index:100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background-color: #4A6670;
    border-right: solid 1px white;
}

.sidebar-open{
  width: 575px;
  height: 464vh;
  position: absolute;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 2rem;
  background-color: #4A6670;
  border-right: solid 1px white;
}
.shopping-cart{
  text-align: center;
  color: white;
}

button {
  background-color: #A0AF84;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #668F80;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    
}