

.Navbar{
  width: 95.5%;
  max-width: 100vw;
  background: #4A6670;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding);
  position: absolute;
  right: 0px;
  
}

.Navbar-sidebar {
  width: 95.5%;
  max-width: 100vw;
  background: #4A6670;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding);
  right: 0px;

}
.Navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.Navbar-sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}



.Navbar .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-sidebar .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px; 
  border-bottom: solid 2px transparent;
  transition: all 0.2s ease;
}

  /*****************
     SEARCH 
  *****************/

  
  .Search{
    width:96%;
    margin-left: 50px;
    
    
  }

  li{
    list-style-type: none;
  }

  ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 20px 0;
  }
  .search-bar {
    width: 96%;
    margin-left: auto;
    display: flex;
    align-items: center; 
    text-align: center; 
  }
  .search-bar input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    border: solid 2px white;
    background: #C3B59F;
    transition: all 0.2s ease;
  }
  .search-bar input:focus {
    outline: none;
    background: white;
    border: solid 2px #C3B59F;
  }
  
  
 
  