
.header {
  font-size: 1rem;
  width: 100%;
  margin-top: 70px;
  margin-left: 80px;
}
.header .welcome{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
}

.header .welcome .text{
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 350px;
  margin-right: 50px;
}
.header .welcome .text h1{
    margin: 0;
    color: black;
    font-size: 60px;
    font-weight: 600;
}
.header .welcome .text p {
    color:black;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}
.header .welcome .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:200px;
}
.header .title {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.header .tagline {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.header .description {
  font-size: 1.5rem;
  max-width: 1100px;
}

.header .data-source {
  font-size: 0.8rem;
}












